/*Elements*/
html body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed";
}

/*Classes*/
.stack{
  height: 100%;
}
.row{
  margin: 0 auto;
  width: 100%;
}
.push-down{
  margin-top: 50%;
  background-color: #77BDB5;
}
.shape-up{
  border-radius: 100%;
  border: solid thin black;
  padding: 50%;
  height: 100%;
}

.carousel{
  width: 100%;
  margin: 0 auto;
}
.carousel-inner{
  margin: 0 auto;
}
.carousel-inner img {
  margin: 0 auto;
  min-width: 15em;
  max-width: 15em;
  min-height: 20.5em;
  max-height: 20.5em;
}
.centered{
  font-size: 4.5em;
  border-bottom: solid thin black;
}
.centered{
  text-align: center;
}

.carousel-indicators img{
  max-width: 3em;
  max-height: 3em;
}

.carousel-indicators{
  bottom: -50%;
}

.container-fluid{
  position: relative;
}
