/*Elements*/
html body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed"
}

/*Classes*/
.stack{
  height: 100%;
}
.row{
  margin: 0 auto;
  width: 100%;
}
.push-down{
  margin-top: 50%;
  background-color: #77BDB5;
}
.carousel{
  width: 60%;
  margin: 0 auto;
}
.carousel-inner img {
  margin: 0 auto;
  min-width: 7em;
  max-width: 10em;
  min-height: 20em;
  max-height: 20em;
}

.carousel-indicators li{
  position: relative;
  display: inline-block;
  margin-top: 10%;
  background-color: black;
}
.container-fluid{
  position: relative;
}
