/*Elements*/
header{
  background-color: #6A5D92;
  text-align: center;
  color: white;
}

p{
  font-size: 1.5em;
}
a:active{
  color: black;
}
a:link{
  color: black;
}
/*Classes*/
.borders div{
  text-align: center;
  border: solid medium black;
}
.borders > .col-sm-3{
  background-color: #77BDB5;
  color: black;
}
.shape-up{
  border-radius: 100%;
  border: solid thick black;
  padding: 4%;
}
.item{
  background-color: #CFECCE;
}

.glyphicon{
  margin-top: 100%;
  width: 40%;
  height: 15%;
  border-radius: 100%;
  background-color: #FFF;
  opacity: 2;
}
