/*Elements*/
header{
  background-color: #6A5D92;
  text-align: center;
  color: white;
}

p{
  font-size: 1.5em;
}
a:active{
  color: black;
}
a:link{
  color: black;
}
/*Classes*/
.borders div{
  text-align: center;
  border: solid thin black;
}
.borders > .col-sm-3{
  background-color: #77BDB5;
  color: black;
}
.shape-up{
  border-radius: 100%;
  border: solid thin black;
  padding: 50%;
  height: 100%;
}
.item{
  background-color: #CFECCE;
}

.glyphicon{
  margin-top: 100%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #FFF;
  opacity: 2;
}
