/*Elements*/
body{
  /* Polkadots adapted from https://codepen.io/danichk/pen/YyVeXa*/
  /*background: #77BDB5;*/
  background-color: #70dbdb;
  background-image:
    radial-gradient(white 20%, transparent 0),
    radial-gradient(white 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
header{
  background-color:;
  /*#77BDB5*/
  text-align: center;
  color: white;
}

p{
  font-size: 1.2em;
}

a:link{
  color: black;
}

a:hover{
  text-decoration: none;
}

form{
  font-size: 1.5em;
  border: thin black solid;
  text-align: center;
  border-bottom: none;
}
label{
  font-weight: normal;
}
/*Classes*/

.blueLink{
  color: #4286f4;
}

.back{
  background-color: white;
  width: 95%;
  margin: 0 auto;
  border: solid black medium;
}
.borders{
  text-align: center;
  border-color: #ffb3e6;
  border-width: thick;
  outline-color:  #ffb3e6;
  outline-width: thick;
  outline-style: solid;
}

.images{
  border: solid thin black;
  padding: 5%;
  text-align: center;
  background-color: #CFECCE;
}

.gal{
  border: solid medium white;
}

.item{
  background-color: #CFECCE;
}

.glyphicon{
  margin-top: 100%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #FFF;
  opacity: 2;
}

/*Heading sizes*/

/* For accessiblity*/
.headingSize1{
  font-size: 2em;
}
.headingSize3{
  font-size: 1.5em;
}
.headingSize4{
  font-size: 1.15em;
}

/*nav heading*/
.navHeading2{
  font-size: 1.75em;
}
